  *{
    margin:0;
  }
  html {
    height: 100%;
    width: 100%;
  }
  h1,h2,h3, button,label,input {
    font-family: "Grenze", "Times";
  }
  button,label,input,.rating-container-label{
    color: #C51924;
  }
  label{
    font-size: 1.1em;
  }
  p{
    font-family: "Assistant", "Helvetica";
  }
  .hero {
    position: relative;
    height: 500px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/background_image.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px 0px 30px 0px;
  }
  
  .hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-title {
    font-size: 100px;
    margin-bottom: 12px;
    color: #FFFBF2;
  }
  
  .hero-description {
    font-size: 48px;
    margin-bottom: 50px;
    color:#FFFBF2;
  }
  .hero-button {
    padding: 15px 170px 15px 170px;
    background-color: #FFFBF2;
    font-size: 35px;
    color: #C51924;
    border:3px solid;
    border-color:#C51924;
    border-radius: 50px;
  }
  .close-modal-button{
    position: absolute;
    left: 90%;
    width: 2em;
    bottom:94%;
    border-radius:50%;
    font-size: 1em;
    background-color:#FFFBF2;
    border-color:#C51924;
    border: 2px solid;
  }
  header > h1 {
    text-align: center;
  }
  dialog{
    position:absolute;
    height: 90vh;
    width: 31vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #FFFBF2;
    border:3px solid;
    border-color:#C51924;
    border-radius:2%;
  }            

  form{
    margin: 0 auto;
    padding: 1em 1em;
    display: flex;
    flex-direction:column;
  }
  .rating-container{
    display: flex;
    justify-content: left;
  }
  .rating-container input{
    position: absolute;
    left: -100vw;
  }
  
  .rating-container label{
    width: 50.19px;
    margin: .1em .1em .1em .1em;
    padding:.4em;
    height: 50.19px;
    background: url('stars.svg') no-repeat top left;
    cursor: pointer;
  }
  #rating-container-label{
    display:flex;
    flex-direction:column;
    padding:.4em;
  }
  .rating-container:not(:hover) input:indeterminate + label,
  .rating-container:not(:hover) input:checked ~ input + label,
  .rating-container input:hover ~ input + label{
    background-position: -70px 0;
  }
  .form-row {
    display: flex;
    flex-direction:column;
    padding: .4em;

  }
                         
  .form-row input,
  .form-row select {
    height:2.4em;
    box-sizing: border-box;
    padding: 0.5em;
  }
  .poster-grid {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    max-width: 1440px;
  }
  .poster-grid img{
    max-width:300px;
  }
  