  *{
    margin:0;
  }
  html {
    height: 100%;
    width: 100%;
  }
  h1,h2,h3, button,label,input, b, #addMovieButton{
    font-family: "Grenze", "Times";
  }
  button,label,input,.rating-container-label,.poster-modal h1{
    color: #C51924;
  }
  label{
    font-size: 1.1em;
  }
  p, input, select{
    font-family: "Assistant", "Helvetica";
  }
  .hero-container {
    position: relative;
    height: 500px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/background_image.jpg");
    background-size: cover;
    background-position: center;
  }/*the gradient was used to create a background blur effect, while the background-size/-position ensured that the image covered the container fully*/
  .hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  /*this places hero-content in the middle relative to its parent container*/
  .hero-title {
    font-size: 100px;
    margin-bottom: 12px;
    color: #FFFBF2;
  }
  
  .hero-description {
    font-size: 48px;
    margin-bottom: 50px;
    color:#FFFBF2;
  }
  .hero-button {
    padding: 15px 170px 15px 170px;
    background-color: #FFFBF2;
    font-size: 35px;
    color: #C51924;
    border:3px solid;
    border-color:#C51924;
    border-radius: 50px;
  }
  dialog{
    position:fixed;
    height: 90vh;
    width: 31vw;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #FFFBF2;
    border:3px solid;
    border-color:#C51924;
    border-radius:2%;
    overflow: hidden;
    overscroll-behavior: none;
  } /*"fixed" and overflow ensures that the dialog doesn't move with the page nor does the page itself move, and overscroll beahavior ensure that one cannot scroll within the actual */        
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); 
    z-index: 999;
    display: none; 
  }/*similar mechanism as above, ensures that the rest of the body is blurred out while modal is open*/      
  .dialog-open {
    display: block; 
    }
  form{
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
  }/*making sure the form content is displaed vertically and to the left*/      
  form label{
    padding: bottom 0.15em;
  }
  .form-row {
    display: flex;
    flex-direction:column;
    padding: .4em;
    margin-left:0;
  }
                         
  .form-row input,
  .form-row select {
    height:2.4em;
    box-sizing: border-box;
    padding:0em 0.3em;
    font-size:0.9em;
    border:solid 2.2px;
    border-color:#C51924;
    border-radius:0.5em;
  }/*border-box makes sure that padding is included in height*/   
  .rating-container{
    display: flex;
    justify-content: left;
  }
  .rating-container input{
    position: absolute;
    left: -100vw;
  }/*this moves the radio buttons out of sight so that the stars can be visible*/   
  #addMovieButton{
    background-color:#C51924;
    color:#FFFBF2;
    margin-top:1em;
    font-size:1.2em;
    text-align:center;
    height: 2.4xem;
    border:solid;
    border-radius:1em;
    border-color: #C51924;
  }
  .close-main-modal-button{
    position: absolute;
    left: 90%;
    height:2em;
    width: 2em;
    bottom:93%;
    border-radius:50%;
    font-size: 1em;
    background-color:#FFFBF2;
    border-color:#C51924;
    border: 2px solid;
  }          
  #rating-container-overall-label{
    display:flex;
    flex-direction:column;
    padding:0.4em;
  }
  .rating-container label{
    width: 50.19px;
    margin: .1em .1em .1em .1em;
    padding:0.1em .4em;
    height: 47.19px;
    background: url('stars.svg') no-repeat top left;
    cursor: pointer;
  }/*this uses the stars.svg file to import a specific part of the image based on the given pixels*/  
  .rating-container:not(:hover) input:indeterminate + label,
  .rating-container:not(:hover) input:checked ~ input + label,
  .rating-container input:hover ~ input + label{
    background-position: -70px 0;
  }/*this deals with circumstances such as the user never having selected a radio button, a radio button being checked, and the user changing their mind*/  
  .poster-grid {
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 4em;
    max-width: 1440px;
    background-color: #0A0811;
    padding:3em;
  }
  .poster-grid img{
    width: 100%;
    height: 100%;
  }

  footer{
    display:flex;
    flex-direction:row;
    background-color: #FFFBF2;
  }
  .footer-text-container{
    display:flex;
    flex-direction:column;
    padding-left:5em;
    padding-top:1em;

  }
  .footer-title{
    font-size:3.2em;
    color:#C51924;
  }
  .description-container{
    padding-top:1em;
    width:25em;
    font-size:2em;
  }
  .footer-image{
    max-height:18em;
    padding:1.5em 1em 3em 3em;
  }
  .API-logo{
    max-width:5vw;
    margin-top:2em;
    position:absolute;
    left:83vw;
  }
  .API-text{
    font-size:0.5em;
    position:absolute;
    margin-top:4em;
    left:44vw;
  }
  #top{
    background-color: #FFFBF2;
    position:fixed;
    z-index: 1;
    left:92%;
    bottom:4%;
    border:solid 4px;
    height:6em;
    width:6em;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
  }/*the fixed position puts the button at a permanent spot towards the button, and the z index makes sures its always overlayed on top of everything else*/  
  .arrow{
  height:3em;
  }
  .poster-modal{
    flex-direction:column;
    justify-content: center;
  }
  .modal-img{
    width: 18vw;
    align-self: center;
  }
  .poster-modal p,
  .poster-modal h1,
  .poster-modal div{
    align-self:center;
    padding: 2.5px;
  }
  .filled-star {
    color:#C51924 
  }
  .unfilled-star {
    color:#C51924; 
  }
  .close-poster-modal{
    position: absolute;
    left: 90%;
    height:2em;
    width: 2em;
    bottom:93%;
    border-radius:50%;
    font-size: 1em;
    background-color:#FFFBF2;
    border-color:#C51924;
    border: 2px solid;
  }
  .delete-movie-button{
    position: absolute;
    right: 80%;
    height:35px;
    width: 80px;
    border-radius: 13;
    justify-content: center;
    align-items: center;
    bottom:92.5%;
    font-size: 1em;
    background-color:#C51924;
    color:#FFFBF2;
    border-color:#C51924;
    border: 2px solid;
  }
