  *{
    margin:0;
  }
  html {
    height: 100%;
    width: 100%;
  }
  h1,h2, button{
    font-family: "Grenze", "Times";
  }
  p{
    font-family: "Assistant", "Helvetica";
  }
  .hero {
    position: relative;
    height: 500px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/background_image.jpg");
    background-size: cover;
    background-position: center;
    margin: 0px 0px 30px 0px;
  }
  
  .hero-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-title {
    font-size: 100px;
    margin-bottom: 12px;
    color: #FFFBF2;
  }
  
  .hero-description {
    font-size: 48px;
    margin-bottom: 50px;
    color:#FFFBF2;
  }
  
  .hero-button {
    padding: 15px 170px 15px 170px;
    background-color: #FFFBF2;
    font-size: 35px;
    border: none;
    color: #C51924;
    border:3px solid;
    border-color:#C51924;
    border-radius: 50px;
  }
  header > h1 {
    text-align: center;
  }
                  
  form {

    max-width: 500px;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 2em 1em;
  }
                  
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
                  
  .form-row > label {
    width: 100px;
  }
                  
  .form-row > input,
  .form-row > select {
    padding: .5em;
    flex-grow: 1;
  }

  .poster-grid {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    max-width: 1440px;
  }
  .poster-grid img{
    max-width:300px;
  }
  